<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="container">
            <h2 style="text-align:center;">Лабораторная работа №1 по дисциплине</h2> 
            <h2 style="text-align:center;">"Технология и методы программирования"</h2> 

            <h3>Результаты экзаменационной группы №744</h3>
            <h5>Список студентов</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>№</th>
                  <th>ФИО</th>
                  <th>ТиМП</th>
                  <th>ТВиМС</th>
                  <th>Философия</th>
                  <th>Ин.язык</th>
                  <th>Физ-ра</th>
                  <th>Средний балл</th>
                </tr>
                </thead>
                <tbody>
                    {% for student in students_statistics %}
                        <tr>
                            <th scope="row">{{student.id}}</th>
                            <td>{{student.fio}}</td>
                            <td>{{student.timp}}</td>
                            <td>{{student.tvims}}</td>
                            <td>{{student.philosophy}}</td>
                            <td>{{student.english}}</td>
                            <td>{{student.sport}}</td>
                            <td>{{student.sredznach}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4><font color="green">Отличники:</font><h6>{{excellent_students}}</h6></h4>
            <h4><font color="red">Отчислить следующих студентов:</font><h6>{{bad_students}}</h6></h4>
        </div>
	</body>
</html>